formsflow-wc #tippy-1{
    z-index: 10000;
    visibility: visible;
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate3d(65.6px, 156px, 0px);
}

formsflow-wc .tippy-box{
    max-width: 350px;
    transition-duration: 300ms;
}

formsflow-wc .tippy-content{
    transition-duration: 300ms;
}